#portfolio {
    margin: auto;
    padding: 10px;
    text-align: center;
}

#portfolio ol {
    width: fit-content;
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;
}

#portfolio ol li {
    width: fit-content;
}

/* WEEK 02 */

 #week02 {
    /* margin-top: 250px; */
    margin: 230px auto;
    text-align: center;
    border: 3px solid greenyellow;
    box-shadow: 0 0 20px black;
    width: fit-content;
    padding: 30px;
    
 }


