@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Russo+One&display=swap');

html {
    height: 100%;
}
body {
    display: grid;
    grid-template-rows: .5fr 1fr;
    justify-content: center;
    font-family: "Russo One";
    font-size: 12px;
    height: 100%;
    
}

img {
    width: 200px;
    height: 150px;
    align-self: start;
    justify-self: center;
}

h1 {
    text-align: center;
    align-self: center;
}

/* STYLING LARGE VIEW */
@media (min-width: 60em) {
    body {
        font-size: 20px;
    }

    img {
        width: 350px;
        height: 250px;
    }
}