@media(min-width: 33em) {
    html {
        height: 100%;
        width: 100%;
    }
    body {
        width: 100%;
        grid-template-columns: repeat(7, 1fr);
    }

    /* STYLING HEADER AND HOME DESCRIPTION*/

    header, #home-description, footer {
        grid-column: 1/8;
    }

  

    /* STYLING MENU BUTTON */
    .display-menu {
        top: 680px;
        left: 88vw;
    }

    

    #cards-section, #favorite-pokemons {
        grid-column: 2/7;
        display: grid;
        grid-template-columns: 1fr;
        justify-self: center;
    }

    #div-details {
        grid-column: 2/3;
        grid-row: 1/3;
        justify-self: center;
        align-self: center;
        height: fit-content;
    }

    #poke-cards {
        grid-column: 1/2;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    #poke-cards section.normal {
        width: 115px;
        height: 215px;
    }
    
    #poke-cards section.details, #favorite-pokemons section.details {
        left: 30vw;
        bottom: 40vw;
        border: none;
        width: 200px;
        padding: 0 50px 10px 50px;
    }

    section.details h3 {
        text-align: center;
    }

    section.details img {
        margin-left: 25px;
    }

    #body .display-details-space, #fav-page .display-details-space {
        display: block;
        height: fit-content;
        border-radius: 10px;
    }

    #body .display-details-space img, #fav-page .display-details-space img {
        width: 100px;
        height: 100px;
        margin-left: 70px;
    }

    #body .display-details-space p, #fav-page .display-details-space p {
        text-align: center;
    }

    button#next {
        margin-right: -100px;
    }

    /* STYLING FAVORITE SUB PAGE */
    #fav-page #favorite-description {
        grid-column: 1/8;
    }

    #favorite-pokemons #cards {
        grid-template-columns: 1fr 1fr 1fr;
    }

 
} 